body{
    padding-top: 3rem;
}

.center{
    text-align: center;
}

.gamer-list .word{
    float: right;
}

.alert{
    background: #CC3333;
    color: #fff;
    border-radius: 2px;
    padding: 0 10px;
}